.container {
  height: 100%;

  text-align: center;
  font-size: 5rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  display: inline-block;
  background-color: #0e3c67;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  padding: 20px;
  width: 30rem;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 0 2rem 0.5rem #020a11;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover {
  background-color: #087f5b;
  transform: scale(1.02);
  box-shadow: 0 0 2rem 1rem #021912;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* ####################### */
/* TRANSITIONS */
/* ####################### */

.appearActive,
.enterActive,
.exitActive {
  transition: all 0.7s;
}

.appear {
  font-size: 1rem;
  opacity: 0;
  transform: scale(0.1);
}
.appearActive {
  height: 100%;
  opacity: 1;
  transform: scale(1);

  text-align: center;
  font-size: 5rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.appearDone {
  height: 100%;

  text-align: center;
  font-size: 5rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.enter {
  font-size: 1rem;
  opacity: 0;
  transform: scale(0.1);
}
.enterActive {
  height: 100%;
  opacity: 1;
  transform: scale(1);

  text-align: center;
  font-size: 5rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.enterDone {
  height: 100%;

  text-align: center;
  font-size: 5rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.exit {
  height: 100%;

  text-align: center;
  font-size: 5rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.exitActive {
  font-size: 1rem;
  opacity: 0;
  transform: scale(0.1);
}
