.btn {
  display: inline-block;
  background-color: #0e3c67;
  border-radius: 1rem;
  color: #eeeeee;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 2rem;
  transition: all 0.3s;
  cursor: pointer;
  margin: 0.5rem;
  border: none;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  transition: 0.5s;
}

.btn:hover {
  background-color: #087f5b;
  transform: scale(1.02);
  box-shadow: 0 0 1rem 0.5rem #020a1184;
}

.btn:hover span {
  padding-right: 2.5rem;
}

.btn:hover span::after {
  opacity: 1;
  right: -0.4rem;
}

/* ####################### */
/* MEDIA QUERIES */
/* ####################### */

/* ####################### */
/* 690px */
@media (max-width: 43.125em) {
  .btn {
    font-size: 2.4rem;
    padding: 1.6rem;
  }
}
