.btn {
  display: inline-block;
  background-color: #0e3c67;
  border-radius: 1rem;
  color: #eeeeee;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 2rem;
  width: 30rem;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 0 2rem 0.5rem #020a11;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2rem;
  transition: 0.5s;
}

.btn:hover {
  background-color: #087f5b;
  transform: scale(1.02);
  box-shadow: 0 0 2rem 1rem #021912;
}

.btn:hover span {
  padding-right: 2.5rem;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
