.message {
  font-size: 3.2rem;
  padding: 1.6rem;
}

/* ####################### */
/* TRANSITIONS */
/* ####################### */

.appearActive,
.enterActive,
.exitActive {
  transition: all 0.7s;
}

.appear,
.enter {
  font-size: 1rem;
  opacity: 0;
  transform: scale(0.1);
}

.appearActive,
.appearDone,
.enterActive,
.enterDone {
  height: 100%;
  opacity: 1;
  transform: scale(1);

  text-align: center;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.exit {
  height: 100%;

  opacity: 1;
  transform: scale(1);

  text-align: center;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.exitActive {
  font-size: 1rem;
  opacity: 0;
  transform: scale(0.1);
}
