.container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.country-0 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.country-1 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.country-2 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
.country-3 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.countryToFind {
  grid-column: 3;
  grid-row: 3 / -1;
  font-size: 4.8rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img {
  max-width: 100%;
  max-height: 20rem;
  transition: all 0.4s;
  cursor: pointer;
  box-shadow: 0 0 1.2rem rgba(7, 30, 51, 0.3);
}

.img:hover {
  transform: translateY(-1rem);
  box-shadow: 0 0 2.4rem rgba(7, 30, 51, 0.4);
}

/* ####################### */
/* MEDIA QUERIES */
/* ####################### */

/* ####################### */
/* 690px */
@media (max-width: 43.125em) {
  .country-0 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
  .country-1 {
    grid-column: 4 / -1;
    grid-row: 4 / 5;
  }
  .country-2 {
    grid-column: 1 / 4;
    grid-row: 5 / -1;
  }
  .country-3 {
    grid-column: 4 / -1;
    grid-row: 5 / -1;
  }

  .countryToFind {
    grid-column: 1/-1;
    grid-row: 3 / 4;
    font-size: 4.8rem;
    font-weight: 700;
  }
}

/* ####################### */
/* 570px */
@media (max-width: 35.625em) {
  .country-0 {
    grid-column: 2/6;
    grid-row: 4/5;
  }
  .country-1 {
    grid-column: 6/-1;
    grid-row: 4/5;
  }
  .country-2 {
    grid-column: 2/6;
    grid-row: 5/-1;
  }
  .country-3 {
    grid-column: 6/-1;
    grid-row: 5/-1;
  }

  .countryToFind {
    grid-column: 2/-1;
    grid-row: 2/3;
  }
}

/* ####################### */
/* 510px */
@media (max-width: 31.875em) {
  .country-0 {
    grid-column: 2/-1;
    grid-row: 4/5;
  }
  .country-1 {
    grid-column: 2/-1;
    grid-row: 5/6;
  }
  .country-2 {
    grid-column: 2/-1;
    grid-row: 6/7;
  }
  .country-3 {
    grid-column: 2/-1;
    grid-row: 7/8;
  }
  .countryToFind {
    grid-column: 1/-1;
    grid-row: 3/4;
    text-align: center;
  }
  .img {
    max-width: 100%;
    max-height: 15vh;
    transition: all 0.4s;
    cursor: pointer;
    box-shadow: 0 0 1.2rem rgba(7, 30, 51, 0.3);
  }
}
