.container {
  display: flex;
  justify-content: center;
}

.icon {
  height: 4rem;
  width: 4rem;
}

.iconGuessed {
  stroke-width: 6.8rem;
  color: #087f5b;
}

.iconGuessed:last-child {
  animation: guessed 0.5s ease-out;
}

@keyframes guessed {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

/* ####################### */
/* MEDIA QUERIES */
/* ####################### */

/* 690px */
@media (max-width: 43.125em) {
  .icon {
    height: 3.2rem;
    width: 3.2rem;
  }
}

/* 570px */
@media (max-width: 35.625em) {
  .container {
    display: flex;
    flex-direction: column;
    width: 3.2rem;
  }

  .gessed,
  .leftToGuess {
    display: flex;
    flex-direction: column;
  }
}
