.game {
  height: 100%;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 15% 17% 25% 25%;
  gap: 6%;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 200, 200);
  text-align: center;
}

.icons {
  grid-column: 1/3;
  grid-row: 1;
  align-self: start;
  justify-self: start;
}

.level {
  grid-column: 3 /5;
  grid-row: 1;
  align-self: start;
}

.endBtn {
  grid-column: 5/-1;
  align-self: start;
  justify-self: end;
}

.guessCheck {
  grid-column: 1 / -1;
  grid-row: 2;
}

.levelStats {
  grid-column: 1 / -1;
  grid-row: 2;
}

.gameFlags {
  grid-column: 1 span 4;
  grid-row: 2 span 2;
}
