.container {
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.icons {
  height: 7rem;
  width: 7rem;
  color: rgb(221, 0, 0);
}

.emptyHearts:first-child {
  animation: liveLost 0.7s cubic-bezier(0.33, 1, 0.68, 1);
}

@keyframes liveLost {
  0% {
    transform: translateY(-120%);
    opacity: 0;
  }
  70% {
    transform: translateY(20%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ####################### */
/* MEDIA QUERIES */
/* ####################### */

/* 690px */
@media (max-width: 43.125em) {
  .icons {
    height: 4.8rem;
    width: 4.8rem;
  }
}

/* 510px */
@media (max-width: 31.875em) {
  .icons {
    height: 6rem;
    width: 6rem;
  }
}
