.btn {
  display: inline-block;
  background-color: #0e3c67;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  padding: 20px;
  width: 200px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover {
  background-color: #087f5b;
  transform: scale(1.02);
  box-shadow: 0 0 2rem 1rem #021912;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.endGame:hover {
  background-color: rgb(220, 0, 0);
}

.loading {
  cursor: not-allowed;
  background-color: #6a6a6a;
}

.loading span {
  cursor: not-allowed;
}

.loading:hover {
  background-color: #545454;
  transform: none;
  box-shadow: 0 0 2rem 0.5rem #020a11;
}

.loading:hover span {
  padding-right: 0px;
}

.loading:hover span::after {
  opacity: 0;
}
