.app {
  max-width: 140rem;
  margin: 10vh auto;
  height: 80vh;
}

.container {
  height: 100%;
  margin: 10rem;
  padding: 8rem;
  background-color: rgb(200, 200, 200);

  border-radius: 1rem;
}

.containerStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(166, 166, 166);
  text-align: center;
}
