.wrapper {
  height: 96rem;
  width: 100%;
  padding: 5rem;
}

.app {
  max-width: 140rem;
  margin: 0 auto;
  height: 100%;
}

.container {
  height: 100%;
  padding: 3.2rem;
  background-color: #d1e0ee;
  border-radius: 2rem;
  box-shadow: 0 0 4.8rem rgba(0, 0, 0, 0.5);
}

.containerStart {
  background-color: #d1e0ee;
}

/* ####################### */
/* MEDIA QUERIES */
/* ####################### */

/* 510px */
@media (max-width: 31.875em) {
  .wrapper {
    height: 100vh;
    width: 100%;
    padding: 0;
  }
  .container {
    padding: 1.6rem 2.4rem 2.4rem 2.4rem;
    border-radius: 0;
  }
}
