* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 2rem;
  color: #020a11;

  background-color: #eee;
}

/* 
Main colors: 
#1864ab
TINTS: 
SHADES:
#0e3c67
#020a11


#087f5b
TINTS: 
SHADES:
#010d09
*/
